$accentColor = rgba(255, 153, 51,1)
// $textColor = 
// $borderColor = 
// $codeBgColor = 
body{
  font-size: 15px !important;
}
.feature{
  text-align: center;
}
table{
  display: table !important;
  min-width: 100% !important;
}